<%- include("partials/header.ejs") %>


<form method="POST">
    <div style ="display: flex; flex-direction: column;">
    <h1>Enter the blog id to delete</h1>
     

    <input name="deleteEdit" type="text" style="color: black;" class="feedback-input" placeholder="ID" />



    <input type="submit" value="SUBMIT" />
    
    </div>
</form>






<%- include("partials/footer.ejs") %>
