
<%- include("partials/header.ejs") %>

<h1>Post Your Blog</h1>
<form method="post">
  <input name="name" type="text" style="color: black;" class="feedback-input" placeholder="Author" />
  <input name="blogName" type="text" style="color: black;" class="feedback-input" placeholder="Blog Name" />
  <textarea name="text"  style="color: black;" class="feedback-input" placeholder="Text"></textarea>
  <input type="submit" value="SUBMIT" />
</form>

<%- include("partials/footer.ejs") %>